body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    color: #333;
}

button {
    background-color: #ff5733;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    color : #ffffff
}

button:hover {
    background-color: #c70039;
}